/* Reseteo del Documento */
/* +++++++++++ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* ------- */

/* ESTO ES PARA EL MENU HAMBURGESA Q ESTA EN EL MAIN DE LA MISMA MANERA */

  header .header__burguerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
    background-color: white;
    border: none;
    color: grey;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.5s ease-in;
  }
  
  /* PARA Q NO SE VEA EL CHECKBOX */
  input#menu {
    display: none;
  }
  
  header button.header__burguerMenu:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  /* ES PARA Q LOS ELEMENTOS HERMANOS ESTEN DENTRO DEL MISMO CONTENEDOR Y LABUREN JUNTOS */
  /* si el elemento tal esta checkeado en el header menu dale a lo q dice adentro */
  /* checked es cliqueado, sino esta chequeado el de abajo dice display none */
  input#menu:checked ~ .header__menu {
    display: block;
  }
  
  /* ESTE ES EL MENU HAMBURGESA DESPLEGADO EN TODA LA PANTALLA */
  header .header__menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    background-color: white;
  }
  
  header .header__menu .header__closeMenu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    
  }
  
  header .header__menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  header .header__menu ul li {
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 5px;
    padding: 0.5rem;
  }
  
  header .header__menu ul li:hover {
    background-color: rgb(250, 250, 250);
  }
  
  
  header #header__menu--itemGallery ul {
    flex-direction: column;
    border-radius: 5px;
  }
  
  header #header__menu--itemGallery ul li a {
    color: rgb(160, 160, 160);
    text-transform: capitalize;
    font-weight: 400;
  }
  
  /* Media queries */
  
  @media (min-width: 429px) {
  
    header .header__burguerMenu {
      display: none;
    }
  
    header .header__menu .header__closeMenu {
      display: none;
    }
    
    header .header__menu {
      display: initial;
      position: inherit;
    }
  
    header .header__menu ul {
      flex-direction: row;
      justify-content: space-evenly;
    }
  
    header #header__menu--itemGallery {
      position: relative;
  
    }  
  
    /* esto es para que el menu tenga un desplegable cuando haga hover */
    /* el elemento padre hace el efecto y tiene q tener el ul como elemento hijo */
    header #header__menu--itemGallery:hover > ul {
      display: flex;
    }
  
    /* esto es para que el menu tenga un desplegable cuando haga hover */
    /* el elemento padre hace el efecto y tiene q tener el ul como elemento hijo */
    header #header__menu--itemGallery ul {
      display: none;
      position: absolute;
      left: 0;
      padding: 0.5rem;
      height: 7rem;
      background-color: rgb(250, 250, 250);
      border-radius: 5px;
    }
  
  }



/* ------- */

/* +++++++++++++++++> */
/* HEADER */
/* +++++++++++ */


header {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
}


#logoInmo {
    justify-content: end;
    height: 240px;
    width: 350px;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.2);
}

.barraNav {
    display: flex;

    text-decoration: none;
    background-color: #F9F9ED;
    padding: 10px;
    margin: 10px;
    
    width: 100%;
    z-index: 100;

    
    justify-content: center;
    align-items: center;

    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.2);

    text-transform: uppercase;
    font-weight: 600;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    color: coral;
}

.search {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    height: 30px;
    width: 180px;
    margin: 10px; 
    padding: 10px;
    border-radius: 15px;
}

.menuNav {
    display: inline-block;
    padding: 10px;
    margin: 0 2rem 0 2rem;
}

header nav ul li {
    position: relative;
}

header nav ul li:hover > ul {
    display: flex;
}

header nav ul li ul {
    position: absolute;
    left: 1rem;
    display: none;
    flex-direction: column;
    padding: 1rem;
    height: 4.5rem;
    width: 7rem;
    background-color: rgb(179, 183, 221);
    border-radius: 10px;
}


/* Media queries */
/* +++++++++++ */


/* utilice el tamaño de un iphone en Portrait para el width aquí */
@media (max-width: 428px) {
    
    #logoInmo {
        height: 150px;
        width: 220px;
    }

    .barraNav {
        height: 140px;
        width: 11.6rem;
    }

}

/* utilice el tamaño de un ipad en Portrait y un iphone en Landscape para el width aquí */
@media (max-width: 926px) {

    
  
}


/* utilice el tamaño de un ipad en Landscape para el width aquí */
@media (max-width: 1080px) {

    
  
}


@media (max-width: 1300px) {

    
  
}



/* FIN HEADER */
/* +++++++++++ */
/* +++++++++++++++++> */




/* +++++++++++++++++> */
/* MAIN */
/* +++++++++++ */


/* propiedades */
/* +++++++++++ */

.tituloProp {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    margin: 20px;
}

.contProp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem;
}

.propiedad {
    height: 650px;
    width: 650px;
    margin-bottom: 30px;
    justify-content: center;
    text-align: center;
    margin: 1rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
}

.propiedad h3 {
    margin: 10px;
    text-transform: uppercase;
    font-size: x-large;
}

.propiedad h5 {
    margin: 4px;
    color: rgba(0, 0, 0, 0.7);
    font-size: medium;
}

.propiedad button {
    margin-top: 30px;
    height: 2.5rem;
    outline: none;
    padding: 0 10px 0 10px;
}

.propiedad a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}


/* nosotros */
/* +++++++++++ */

.boxUs {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-columns: repeat(2, 50%);
    width: 95%;
    padding: 5rem;
}

.boxUs .textoAcerca h3 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.textoCorr {
    text-align: justify;
    font-weight: 600;
    font-size: x-large;
}

.ccpim {
    text-decoration: none;
    color: crimson;
}

.corredor {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    margin: 0 50px 30px 0;
    
}

.mapa {
    display: flex;
    justify-content: center;
}

.textoAcerca {
    border: #969a97;
}


/* ingrese */
/* +++++++++++ */

.boxForm {
    display: flex;
}

.formIngreso {
    height: fit-content;
    width: fit-content; 
    padding: 20px;
    margin: 40px;
    border: double brown;
    position: relative;
    left: 40rem;
    display: flex;
    flex-direction: column;
}

.textBox {
    text-align: center;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.imputForm {
    height: 2.5rem;
    padding: 1rem;
    outline: none;
    margin-bottom: 1rem;
}

.contBot {
    display: flex;
    justify-content: space-around;
}

.botBot {
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}


/* contacto */
/* +++++++++++ */

.formContacto {
    height: fit-content;
    width: fit-content; 
    padding: 20px;
    margin: 40px;
    border: double brown;
    position: relative;
    left: 40rem;
    display: flex;
    flex-direction: column;
}


/* carga */
/* +++++++++++ */

.formCarga {
    height: fit-content;
    width: fit-content; 
    padding: 20px;
    margin: 40px;
    border: double brown;
    position: relative;
    left: 40rem;
    display: flex;
    flex-direction: column;
}


/* Media queries */
/* +++++++++++ */


/* utilice el tamaño de un iphone en Portrait para el width aquí */
@media (min-width: 428px) {
    
    .formIngreso {
        left: 0.2rem;
        /* z-index: 1; */
    }

    .formCarga {
        left: 0.2rem;
        /* z-index: 1; */
    }

    .formContacto {
        left: 0.2rem;
        /* z-index: 1; */
    }

    /* +++++++++++ */

    .boxUs {
        display: flex;
        display: inline-block;
        width: 100%;
        
    }


    .corredor{
        width: 300px;
        height: 300px;
    
    }

    .boxUs {
        width: 105%;
    }

    
    .textoAcerca {
      margin: 10px 0 10px 0;
    }
  

    /* +++++++++++ */

    
    .propiedad {
        width: 400px;
        overflow: hidden;
    }


}

/* utilice el tamaño de un iphone en Landscape para el width aquí */
@media (min-width: 926px) {

    .formIngreso {
        left: 15rem;
        /* z-index: 1; */
    }

    .formCarga {
        left: 12rem;
        /* z-index: 1; */
    }

    .formContacto {
        left: 12rem;
        /* z-index: 1; */
    }

    /* +++++++++++ */

    .boxUs {
        display: flex;
        display: inline-block;
        width: 100%;
    }

    .textoCorr {
        padding: 50px;
    }

    .corredor{
        width: 100px;
        height: 100px;
        margin: auto;
    }

    .boxUs {
        width: 100%;
    }

    .textoCorr {
        padding: 50px;
    }

    .corredor{
        width: 500px;
        height: 500px;
        margin: auto;
    }    


    /* +++++++++++ */

    
    .propiedad {
        height: 650px;
        width: 650px;
        margin-bottom: 30px;
        justify-content: center;
        text-align: center;
        margin: 1rem;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    }
  
}


/* utilice el tamaño de un ipad en Landscape para el width aquí */
@media (min-width: 1080px) {

    .formIngreso {
        left: 20rem;
    }

    .formCarga {
        left: 20rem;
        /* z-index: -1; */
    }

    .formContacto {
        left: 20rem;
        /* z-index: -1; */
    }

    /* +++++++++++ */

    .boxUs {
        width: 100%;
    }

    .textoCorr {
        padding: 50px;
    }

    .corredor{
        width: 500px;
        height: 500px;
        margin: auto;
    }    


    /* +++++++++++ */

    
    .propiedad {
        height: 650px;
        width: 650px;
        margin-bottom: 30px;
        justify-content: center;
        text-align: center;
        margin: 1rem;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    }
  
}

@media (min-width: 1300px) {
    .formIngreso {
        left: 40rem;
    }

    .formCarga {
        left: 40rem;
    }

    .formContacto {
        left: 40rem;
    }

    .boxUs {
        display: grid;
        grid-template-columns: 100px 100px;
        grid-template-columns: repeat(2, 50%);
        width: 95%;
        padding: 5rem;
    }

    .propiedad {
        height: 650px;
        width: 650px;
        margin-bottom: 30px;
        justify-content: center;
        text-align: center;
        margin: 1rem;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    }
}



/* FIN MAIN */
/* +++++++++++ */
/* +++++++++++++++++> */



/* +++++++++++++++++> */
/* FOOTER */
/* +++++++++++ */


footer {
    border-top: double grey;
    padding-top: 1rem;
    background-image: linear-gradient(to bottom,#F9F9ED, white);
}

.social {
    text-align: right;
    padding: 20px;
    margin-right: 5px;
}

.fa-phone {
    color: #969a97;
    padding-right: 10px;
}

.fa-envelope {
    color: #969a97;
}

.fa-whatsapp {
    color: #969a97;
    padding-left: 10px;
}

.reservados {
    text-align: center;
    margin: 20px;
}

#arriba {
    text-decoration: none;
    color: crimson;
    margin-left: 20px;
}


/* Media queries */
/* +++++++++++ */



/* FIN FOOTER */
/* +++++++++++ */
/* +++++++++++++++++> */