/* +++++++++++ */
/* Reseteo del Documento */
/* +++++++++++ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

/* modulizacion - partials */
/* header {
    position: sticky;
    width: 100%;
    top: 0;
    nav {
        display: flex;
        ul {
            display: flex;
        }
    }
} */
/* +++++++++++++++++> */
/* HEADER */
/* +++++++++++ */
/* +++++++++++++++++> */
/* MAIN */
/* +++++++++++ */
/* Home */
/* +++++++++++ */
main .carousel {
  margin: 20px; }
  main .carousel .carousel-inner .carousel-item {
    -webkit-transition: 0.3s ease-in-out left;
    -moz-transition: 0.3s ease-in-out left;
    -o-transition: 0.3s ease-in-out left;
    transition: 0.3s ease-in-out left; }

main .textoMain {
  border: #969a97;
  padding: 10px;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none; }

/* Nosotros */
/* +++++++++++ */
main .accordion .accordion-item .accordion-body .textoCorr {
  text-align: justify;
  font-weight: 600;
  font-size: x-large; }
  main .accordion .accordion-item .accordion-body .textoCorr .ccpim {
    text-decoration: none;
    color: crimson; }

main .accordion .accordion-item .accordion-body .corredor {
  display: flex;
  padding-bottom: 20px; }

main .accordion .accordion-item .accordion-body .mapa {
  display: flex;
  justify-content: center; }

/* carga */
/* +++++++++++ */
main .text-center .newTexto {
  margin: 15px;
  text-align: center; }

main .formIngresoB {
  height: fit-content;
  width: fit-content;
  padding: 20px;
  margin: 40px;
  border: double brown;
  position: relative;
  display: flex;
  flex-direction: column; }
  main .formIngresoB .textBox {
    text-align: center;
    margin-bottom: 1rem;
    text-transform: uppercase; }
  main .formIngresoB .form-control {
    width: 225px;
    margin-bottom: 18px; }
  main .formIngresoB .imputForm {
    height: 2.5rem;
    padding: 1rem;
    outline: none;
    margin-bottom: 1rem; }
  main .formIngresoB div .botBot {
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin: 10px; }

/* Contacto */
/* +++++++++++ */
main .text-center .newTexto {
  margin: 15px;
  text-align: center; }

main .row1 .formContacto {
  height: fit-content;
  width: fit-content;
  padding: 20px;
  margin: 40px;
  border: double brown;
  position: relative;
  display: flex;
  flex-direction: column; }
  main .row1 .formContacto .textBox {
    text-align: center;
    margin-bottom: 1rem;
    text-transform: uppercase; }
  main .row1 .formContacto .imputForm {
    height: 2.5rem;
    padding: 1rem;
    outline: none;
    margin-bottom: 1rem; }
  main .row1 .formContacto .form-control {
    width: 225px;
    margin-bottom: 18px; }
  main .row1 .formContacto .contBot {
    display: flex;
    justify-content: space-around; }
    main .row1 .formContacto .contBot .botBot {
      border: none;
      text-transform: uppercase;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      margin: 10px; }

/* Ingrese */
/* +++++++++++ */
main .text-center .newTexto {
  margin: 15px;
  text-align: center; }

main .row .formIngreso {
  height: fit-content;
  width: fit-content;
  padding: 20px;
  margin: 40px;
  border: double brown;
  position: relative;
  display: flex;
  flex-direction: column; }
  main .row .formIngreso .textBox {
    text-align: center;
    margin-bottom: 1rem;
    text-transform: uppercase; }
  main .row .formIngreso div .imputForm {
    height: 2.5rem;
    padding: 1rem;
    outline: none;
    margin-bottom: 1rem; }
  main .row .formIngreso div .botBot {
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin: 10px; }

/* Propiedades */
/* +++++++++++ */
main .tituloProp {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  margin: 20px; }

main article h4 .newTexto {
  margin: 15px;
  text-align: center; }

main .contProp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem; }
  main .contProp .propiedad {
    height: 650px;
    width: 650px;
    margin-bottom: 30px;
    justify-content: center;
    text-align: center;
    margin: 1rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    background-color: #C1CFDA;
    border-radius: 10px; }
    main .contProp .propiedad h3 {
      margin: 10px;
      text-transform: uppercase;
      font-size: x-large; }
    main .contProp .propiedad h5 {
      margin: 4px;
      color: rgba(0, 0, 0, 0.7);
      font-size: medium; }
    main .contProp .propiedad button {
      margin-top: 30px;
      height: 2.5rem;
      outline: none;
      padding: 0 10px 0 10px;
      border-radius: 10px; }

/* +++++++++++++++++> */
/* FOOTER */
/* +++++++++++ */
#footer {
  border-top: double grey;
  padding-top: 1rem;
  background-image: linear-gradient(to bottom, #daa485, white); }
  #footer #arriba {
    text-decoration: none;
    color: crimson;
    margin-left: 20px; }
  #footer .social {
    text-align: right;
    padding: 20px;
    margin-right: 5px; }
    #footer .social .fa-phone {
      color: #969a97;
      padding-right: 10px; }
    #footer .social .fa-envelope {
      color: #969a97; }
    #footer .social .fa-whatsapp {
      color: #969a97;
      padding-left: 10px; }
  #footer .reservados {
    text-align: center;
    margin: 20px; }

/* Media queries */
/* +++++++++++ */
