/* +++++++++++ */
/* Reseteo del Documento */
/* +++++++++++ */

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */



/* +++++++++++++++++> */
/* HEADER */
/* +++++++++++ */


/* 
.logoInmo {
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.barra {
    background-image: linear-gradient(to bottom,#daa485, #e7cebe);
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: 100%;
    margin: 0 20px 0 20px;
    
}

.subMenu {
    background-color: #d79671;
    border-radius: 12px;
}

.busqueda {
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
} */



/* .barraNav {
    display: flex;
    text-decoration: none;
    background-color: #de8f61;
    padding: 10px;
    margin: 10px; 
    width: 100%;
    z-index: 100;
    justify-content: center;
    align-items: center;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 8px;
} */


/* Media queries */
/* +++++++++++ */



/* FIN HEADER */
/* +++++++++++ */
/* +++++++++++++++++> */




/* +++++++++++++++++> */
/* MAIN */
/* +++++++++++ */


/* 404 */
/* +++++++++++ */

/* .img404 {
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    margin: 15px;
    padding: 5px;
} */



/* Propiedades */
/* +++++++++++ */

/* .newTexto {
    margin: 15px;
    text-align: justify;
} */ /* ---- */

/* .tituloProp {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    margin: 20px;
} */

/* .contProp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem;
} */

/* .propiedad {
    height: 650px;
    width: 650px;
    margin-bottom: 30px;
    justify-content: center;
    text-align: center;
    margin: 1rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    background-color: #C1CFDA;
    border-radius: 10px;
} */

/* .propiedad h3 {
    margin: 10px;
    text-transform: uppercase;
    font-size: x-large;
}

.propiedad h5 {
    margin: 4px;
    color: rgba(0, 0, 0, 0.7);
    font-size: medium;
}

.propiedad button {
    margin-top: 30px;
    height: 2.5rem;
    outline: none;
    padding: 0 10px 0 10px;
    border-radius: 10px;
} */

/* .propiedad a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
} */


/* Nosotros */
/* +++++++++++ */


/* .boxUs {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-columns: repeat(2, 50%);
    width: 95%;
    padding: 5rem;
} */

/* .boxUs .textoAcerca h3 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-decoration: underline;
} */

/* .textoCorr {
    text-align: justify;
    font-weight: 600;
    font-size: x-large;
} */

/* .ccpim {
    text-decoration: none;
    color: crimson;
} */

/* .corredor {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    margin: 0 50px 30px 0;
} */

/* .mapa {
    display: flex;
    justify-content: center;
} */

/* .textoAcerca {
    border: #969a97;
} */


/* Ingrese */
/* +++++++++++ */


/* .boxForm {
    display: flex;
} */

/* .formIngreso {
    height: fit-content;
    width: fit-content; 
    padding: 20px;
    margin: 40px;
    border: double brown;
    position: relative;
    display: flex;
    flex-direction: column;
} */

/* .textBox {
    text-align: center;
    margin-bottom: 1rem;
    text-transform: uppercase;
} */

/* .imputForm {
    height: 2.5rem;
    padding: 1rem;
    outline: none;
    margin-bottom: 1rem;
} */

/* .contBot {
    display: flex;
    justify-content: space-around;
} */

/* .botBot {
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin: 10px;

} */ /* ----- */

/* .form-control {
    width: 225px;
    margin-bottom: 18px;
} */


/* Contacto */
/* +++++++++++ */


/* .formContacto {
    height: fit-content;
    width: fit-content;
    padding: 20px;
    margin: 40px;
    border: double brown;
    position: relative;
    display: flex;
    flex-direction: column;
} */


/* carga */
/* +++++++++++ */

/* .formIngresoB {
    height: fit-content;
    width: fit-content; 
    padding: 20px;
    margin: 40px;
    border: double brown;
    position: relative;
    display: flex;
    flex-direction: column;
} */


/* Home */
/* +++++++++++ */


/* .textoMain {
    border: #969a97;
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
} */

/* Bootstrap carrusel */
/* +++++++++++ */

/* .carousel {
    margin: 20px;
} */

/* .carousel-inner > .item {
    -webkit-transition: 0.3s ease-in-out left;
    -moz-transition: 0.3s ease-in-out left;
    -o-transition: 0.3s ease-in-out left;
    transition: 0.3s ease-in-out left;
} */


/* Media queries */
/* +++++++++++ */


/* utilice el tamaño de un teléfono en Portrait de tamaño chico para el width aquí */
/* @media (max-width: 427px) { */
    /* .boxUs {
        display: flex;
        display: inline-block;
        width: 100%;
    } */

    /* .corredor {
        width: 250px;
        height: 250px;
    } */

    /* .boxUs {
        width: 105%;
    } */

    /* .textoAcerca {
        margin: 10px 0 10px 0;
    } */
  
    /* +++++++++++ */
    
    /* .propiedad {
        width: 400px;
        overflow: hidden;
    } */

    /* +++++++++++ */

    /* .formContacto {
        padding: 1.5px;
    } */

   /*  .imgBack {
        display: none;
    } */

    /* +++++++++++ */

    /* .formIngreso {
        left: 40px;
    }   */

   /*  .row {
        width: fit-content;
    } */
    
/* } */

/* utilice el tamaño de un iphone en Portrait para el width aquí */
/* @media (min-width: 428px) { */

    /* .boxUs {
        display: flex;
        display: inline-block;
        width: 100%;
    } */

    /* .corredor{
        width: 300px;
        height: 300px;
        margin: auto;
    } */

    /* .boxUs {
        width: 105%;
    } */

    /* .textoAcerca {
        margin: 10px 0 10px 0;
    } */
  
    /* +++++++++++ */
    
    /* .propiedad {
        width: 400px;
        overflow: hidden;
    } */

    /* +++++++++++ */

    /* .imgBack {
        display: none;
    } */

/* } */

/* @media (min-width: 809px) {
    .corredor{
        width: 350px;
        height: 350px;
        margin-left: 150px;
    }   
} */

/* utilice el tamaño de un iphone en Landscape para el width aquí */
/* @media (min-width: 926px) { */

    /* .boxUs {
        display: flex;
        display: inline-block;
        width: 100%;
    } */

   /*  .textoCorr {
        padding: 50px;
    } */

    /* .boxUs {
        width: 100%;
    } */

    /* .textoCorr {
        padding: 50px;
    } */

    /* .corredor{
        width: 500px;
        height: 500px;
        margin-left: 200px;
    }    
 */

    /* +++++++++++ */

    
    /* .propiedad {
        height: 650px;
        width: 650px;
        margin-bottom: 30px;
        justify-content: center;
        text-align: center;
        margin: 1rem;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    } */

    /* +++++++++++ */

    /* .imgBack {
        display: none;
    } */
  
/* } */


/* utilice el tamaño de un ipad en Landscape para el width aquí */
/* @media (min-width: 1080px) { */

    /* .boxUs {
        width: 100%;
    } */

    /* .textoCorr {
        padding: 50px;
    } */

    /* .corredor{
        width: 500px;
        height: 500px;
        margin-left: 200px;
    }   */  

    /* +++++++++++ */

    /* .propiedad {
        height: 650px;
        width: 650px;
        margin-bottom: 30px;
        justify-content: center;
        text-align: center;
        margin: 1rem;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    } */

    /* +++++++++++ */

    /* .imgBack {
        display: none;
    } */
  
/* } */


/* @media (min-width: 1300px) { */

    /* .boxUs {
        display: grid;
        grid-template-columns: 100px 100px;
        grid-template-columns: repeat(2, 50%);
        width: 95%;
        padding: 5rem;
    } */

   /*  .propiedad {
        height: 650px;
        width: 650px;
        margin-bottom: 30px;
        justify-content: center;
        text-align: center;
        margin: 1rem;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    } */

    /* .newTexto {
        margin: 15px;
        text-align: center;
    } */

    /* .row1 {
        display: flex;
    } */

    /* .imgBack {
        width: 650px;
        height: 620px;
        margin-right: 300px;
        margin-top: 40px;
        overflow: hidden;
        display: inline-block;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
        border-radius: 20px;
    } */

   /*  .corredor {
        margin-left: 500px;
    } */

/* } */

/* @media (max-width: 1549px) {

    .imgBack {
        display: none;
    }

} */



/* FIN MAIN */
/* +++++++++++ */
/* +++++++++++++++++> */




/* +++++++++++++++++> */
/* FOOTER */
/* +++++++++++ */


/* #footer {
    border-top: double grey;
    padding-top: 1rem;
    background-image: linear-gradient(to bottom,#daa485, white); 
} */

/* .social {
    text-align: right;
    padding: 20px;
    margin-right: 5px;
} */

/* .fa-phone {
    color: #969a97;
    padding-right: 10px;
}

.fa-envelope {
    color: #969a97;
}

.fa-whatsapp {
    color: #969a97;
    padding-left: 10px;
} */

/* .reservados {
    text-align: center;
    margin: 20px;
} */

/* #arriba {
    text-decoration: none;
    color: crimson;
    margin-left: 20px;
} */


/* Media queries */
/* +++++++++++ */




/* FIN FOOTER */
/* +++++++++++ */
/* +++++++++++++++++> */