/* +++++++++++ */
/* Reseteo del Documento */
/* +++++++++++ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


@import "partials/header.scss";

/* +++++++++++++++++> */
/* MAIN */
/* +++++++++++ */

@import "partials/index.scss";

@import "partials/acerca.scss";

@import "partials/carga.scss";

@import "partials/contacto.scss";

@import "partials/ingrese.scss";

@import "partials/propiedades.scss";

/* +++++++++++++++++> */
/* Varios */
/* +++++++++++ */

@import "partials/error.scss";

@import "partials/maps.scss";

@import "partials/extends.scss";

@import "partials/mixins.scss";

@import "partials/footer.scss";