/* Nosotros */
/* +++++++++++ */

main {
    .accordion {
        .accordion-item {
            .accordion-body {
                .textoCorr {
                    text-align: justify;
                    font-weight: 600;
                    font-size: x-large;

                    @media (min-width: 926px) {
                        padding: 50px;
                    }

                    @media (min-width: 1080px) {
                        padding: 50px;
                    }

                    .ccpim {
                        text-decoration: none;
                        color: crimson;
                    }
                }
                .corredor {
                    display: flex;
                    padding-bottom: 20px;

                    @media (max-width: 427px) {
                        width: 250px;
                        height: 250px;
                    }

                    @media (min-width: 428px) {
                        width: 300px;
                        height: 300px;
                        margin: auto;
                    }

                    @media (min-width: 809px) {
                        width: 350px;
                        height: 350px;
                        margin-left: 150px;
                    }

                    @media (min-width: 1080px) {
                        width: 500px;
                        height: 500px;
                        margin-left: 200px;
                    }

                    @media (min-width: 1300px) {
                        margin-left: 500px;
                    }
                }
                .mapa {
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}