/* 404 */
/* +++++++++++ */


main {
    a {
        .img404 {
            border-radius: 20px;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
            margin: 15px;
            padding: 5px;
        }
    }
}