/* Extend */
/* +++++++++++ */

.botBot {
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin: 10px;
}

.botBot-enviar {
    @extend .botBot;
}

.botBot-limpiar {
    @extend .botBot
}