/* Ingrese */
/* +++++++++++ */

main {
    .text-center {
        .newTexto {
            margin: 15px;
            text-align: center;
        }
    }

    .row {
        .formIngreso {
            height: fit-content;
            width: fit-content; 
            padding: 20px;
            margin: 40px;
            border: double brown;
            position: relative;
            display: flex;
            flex-direction: column;

            .textBox {
                text-align: center;
                margin-bottom: 1rem;
                text-transform: uppercase;
            }

            div {
                .imputForm {
                    height: 2.5rem;
                    padding: 1rem;
                    outline: none;
                    margin-bottom: 1rem;
                }
            }
        }
    }
    
}