/* Propiedades */
/* +++++++++++ */

main {
    .tituloProp {
        display: flex;
        justify-content: center;
        font-size: 2.5rem;
        margin: 20px;
    }
    article {
        h4 {
            .newTexto {
                margin: 15px;
                text-align: center;
            }
        }
    }
    .contProp {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 1rem;
        .propiedad {
            height: 650px;
            width: 650px;
            margin-bottom: 30px;
            justify-content: center;
            text-align: center;
            margin: 1rem;
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
            background-color: #C1CFDA;
            border-radius: 10px;

            @media (max-width: 427px) {
                width: 400px;
                overflow: hidden;
            }

            @media (min-width: 428px) {
                width: 400px;
                overflow: hidden;
            }

            @media (min-width: 926px) {
                height: 650px;
                width: 650px;
                margin-bottom: 30px;
                justify-content: center;
                text-align: center;
                margin: 1rem;
                box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
            }

            @media (min-width: 1080px) {
                height: 650px;
                width: 650px;
                margin-bottom: 30px;
                justify-content: center;
                text-align: center;
                margin: 1rem;
                box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
            }

            @media (min-width: 1300px) {
                height: 650px;
                width: 650px;
                margin-bottom: 30px;
                justify-content: center;
                text-align: center;
                margin: 1rem;
                box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
            }

            h3 {
                margin: 10px;
                text-transform: uppercase;
                font-size: x-large;
            }
            h5 {
                margin: 4px;
                color: rgba(0, 0, 0, 0.7);
                font-size: medium;
            }
            button {
                margin-top: 30px;
                height: 2.5rem;
                outline: none;
                padding: 0 10px 0 10px;
                border-radius: 10px;
            }
        }
    }
}